<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Welcome to HandStack</title>
		<meta name="author" content="remkin" />
		<!-- Date: 2014-02-25 -->
		<link href= "/css/main.css" rel= "stylesheet" type= "text/css">
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
		<link href= "/css/normalize.css" rel= "stylesheet" type= "text/css">
		<link href= "/css/normalize.min.css" rel= "stylesheet" type= "text/css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  		<script src="/js/vendor/1.10.1.min.js"></script>
  		<script src="/js/main.js"></script>
  	<script>
  	/**********F5 supress and output create/edit forms******************************/	 	
  		$(document).ready(function functionName(){
  			  	var pathname =  window.location.pathname;
  			  	var functionname = pathname.slice(1).replace(/_/g, ' ').replace('.html', ' ');

 				$("#function_name").html(functionname);/*add titles to function pages*/	
 				$('#success_form').attr('action', $('#success_form').attr('action') + "?"+functionname);				
		});
	/**************************************************************************/	 		
  	</script>

	</head>
	<body>
<!----------------------header begins__-------------------------------------------->
		<div class= "site_container">
        <div class="header_container">     	           	
 			<a href= "/" class= "h_e-1_lrg header_element" id= "header_logo">
 				<div class= "large_format"><img src= "/img/logo2.png" class= "logo"></div>
 				<div class= "mobile_format "><img src= "img/handstack_mobile.png" class= "handstack_mobile"></div>				
 				<div class= "mobile_format "><img src= "img/logo_mobile.png" class= "logo_mobile"></div>
			</a>             		            				
			<div class= "header_search header_element">
				<form action= "content.html" method= "post" id= "">
					{% csrf_token } {%csrf_protect%}
					<select  id= "category" class= "inline_item ">
						<option class= "default" selected= "selected">I'm looking for...</option>
						<option>category</option>
						<option>category</option>
						<option>category</option>
					</select>
					<select id= "location" class= "inline_item ">
						<option class= "default" selected= "selected">located here...</option>
						<option>category</option>
						<option>category</option>
						<option>category</option>							
					</select>
					<div class= "inline_item" id= "splash_buttons">
							<button class= "search inline_item" id= "header_search_button"><img src= "img/search.png"></button>
							<a href= "signup.html"><div class= "button inline_item" id= "header_signup">sign up</div></a>
							<a href= "login.html"><div class= "button inline_item" id= "header_login">login</div></a>			
					</div>
				</form> 					
			</div>	
	           		      
        </div><!---header-container----->
        <div class= "main-container">
<!----------------------header ends-------------------------------------------->
