/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
    outline:0;
}

a{
	color:black;
	cursor:pointer;
}

a:hover{
	color:#F37251;
}

.large_format{
	display:none;
}

.main-container{
	margin:2.5%;
	width:95%;
}

body {
    font-size: 1em;
    line-height: 1.4;
    overflow-x:hidden;
    background:url("../img/bkgd_b.jpg");
    font-family:'Lato', sans-serif;
}

em{
	color:#5FBE74;
}

.mobile_format img{
	display:;
}

.header_search .mobile_format input{
	width:70%;
}

.header_search select {
margin: 0em .7em .7em 0em;
width: 100%;
position: relative;
left: 0;
color: #cccccc;
font-size: 1em;
padding: .3em;
border-radius: .3em;
}

/*.header_search .search{
	//width:8%;
	background:#F2AA79;
	border-radius:13%;
}---------ref line 211*/

/*.inline_item{
	display:inherit;
}*/


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

form input, form select{
	margin:auto;
	//margin:.5em 0em;
	font-size:1em;
	padding:.3em;
	width:20%;
	height:;
	border-radius:.3em;
}


#category{
	width:;
}

.default{
	color:#bbbbbb;	
}

form textarea{
	font-size:1.5em;
}


form textarea{
	margin-top:0em 1em;
	font-size:.7em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul{
	list-style-type:square;
	line-height:1.3em;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.logo_mobile{
	width:60%;
	float:left;
	margin:0 0 0 0;
	position:relative;
	bottom:1em;
}

.handstack_mobile{
	width:65%;
	position:relative;
	left:31%;
	bottom:.4em;
}

a{
	text-decoration:none;
}


.header_container .button{
	background-size:contain;
	font-size:1em;
	padding:.5em;
	font-weight:normal;
	color:#ffffff;
	border:1px solid transparent;
	border-radius:.5em;
	vertical-align:bottom;
}


.button{
	background-size:contain;
	font-size:.8em;
	padding:.5em;
	font-weight:bold;
	color:#ffffff;
	border:1px solid transparent;
	border-radius:.3em;
	vertical-align:bottom;
}


.button:hover{
	background-size:contain;	
	font-size:.8em;
	padding:.5em;
	font-weight:bold;
	color:#ffffff;
	border:1px solid #ffffff;
	border-radius:.3em;
	vertical-align:bottom;
}
/*======================
 	membership styles
 *====================== */
.submit{
background:url(../img/button_grain.png);
border:1px solid #a18e51;
box-shadow:0 0 20px 1px #b19d5f  inset;
margin:0em 0em 1em 1em;
}


.submit:hover{
background:#fb8964;
border:1px solid #ffffff;
box-shadow:0 0 0px 0px #bbbbbb;

}

#create_submit{
float:right;
}

#header_search_button{
background:url(../img/button_grain.png);
background-size:contain;
border:1px solid #a18e51;
box-shadow:0 0 20px 1px #b19d5f  inset;
width:70%;
height:35px;
border-radius:.3em;
margin:0 0 .5em 0;
}/*ref line 62*/

#header_search_button:hover{
background:#fb8964;
border:1px solid #ffffff;
box-shadow:0 0 0px 0px #bbbbbb;
}


#header_signup:hover, #header_login:hover{
background:#fb8964;
border:1px solid #ffffff;
box-shadow:0 0 0px 0px #bbbbbb;
} 

#header_signup, #header_login{	
background:url(../img/button_grain.png);
background-size:cover;
background-repeat:no-repeat;
border:1px solid #a18e51;
box-shadow:0 0 20px 1px #b19d5f  inset;
margin:0 0 1em 0;
min-width:50px;
}

/*===============begin splash page buttons==================*/
#login{
background:transparent;
border:1px solid #a18e51;
box-shadow:0 0 20px 3px #b19d5f  inset;
}

#login:hover{
background:#fb8964;
border:1px solid #ffffff;
box-shadow:0 0 0px 0px #bbbbbb;
}  

/*splash page buttons*/

#search_button{
background:#ef8664;
background:transparent;
border:1px solid #a18e51;
box-shadow:0 0 20px 3px #b19d5f  inset;
}

#search_button:hover{
background:#fb8964;
border:1px solid #ffffff;
box-shadow:0 0 0px 0px #bbbbbb;
}


#signup{	
margin:0em 1em 0em 1em;
background:transparent;
border:1px solid #a18e51;
box-shadow:0 0 20px 3px #b19d5f  inset;
}

#signup:hover{	
background:#fb8964;
border:1px solid #ffffff;
box-shadow:0 0 0px 0px #bbbbbb;
}
/*=================end splash page buttons================================*/




 /*======================
 	end header styles
 *====================== 
  */

/*=========================================================
 *  header style
 *=========================================================
 */	
.header_container {
    background:url(../img/hbg_min_1.png);
    background-size:cover;
    background-repeat:no-repeat;
    height: 4.3em;
    border-radius: .6em;
    margin:.5em .5em 7.5em .5em;
    width:90%;
    padding:.5em 5% 4em 5%;
}

#header_logo{
	width:45%;
	margin:;
	max-width:200px;
}

#content_api_cont_1{
	background:#FFFFFF;
	display:inherit;
	color:#FB8964;
}

#content_api_cont_1:hover{
	background:#FB8964;
	display:inherit;
	color:#FFFFFF;
}
.header_element{
	display:inline-block;
	//height:100%;
	width:90%;
	vertical-align:top;
}



.logo{
	width:100%;
	margin:0em 0em 0em 0em;
	max-width:300px;
}

/*header styles*/

.header_element {
display: inline-block;
height: 100%;
vertical-align: top;
}

.header_search {
	position:relative;
	left:0%;
	top:0%;
}



.header_search input{
	margin:0em .0em .8em 0em;
	width:80%;
}

.header_search {
position: relative;
left: 0%;
top: 0%;
width:45%;
min-width:135px;
}

.search{
	background:transparent;
	border:1px solid #9B8D6A;
	vertical-align:bottom;
	box-shadow: 0px 0px 10px 1px #E8D9B1 inset;
}

.splash_search select{
	position:relative;
	left:16%;
	margin:auto;
	margin:0em .7em 0em 0em;
	font-size:1.3em;
	color:#cccccc;
	padding:.3em;
	width:30%;
	border-radius:.3em;
}


.search img{
	width:25%;
	padding:.1em 0em .6em 0em;
	max-width:20px;
}

/*header styles*/

.site_container{
		//background:url("../img/hdbkgd.png");
		background-size:100% 59%;
		background-position:0em 0em;
		background-repeat:repeat-x;
		width:100%;
		max-width:85em;
		min-width:300px;
		margin:auto;
		overflow:hidden;
	}

/*.header_search .search{
	width:14%;
	background:#F2AA79;
}*/

.h_e-1_lrg{
	width:;
	float:left;
}

.h_e-2_lrg{
	float:right;
	padding:0% 1%;
}

#splash_buttons{
	position:relative;
	right:100%;
	margin:1em auto 0 auto;
	width:190%;
	//max-width:386px;
}

#location{
	
}
 
#category{
	
} 
 
#signup{	
}

/*header styles*/

#signup:hover{
}

#login{
}

#login:hover{
}

/*=========================================================
 * end header style
 *=========================================================
 */	


.wrapper {
    width: 90%;
    margin: 0 5%;
}

#map_api{
	position:relative;
	width:100%;
	height:22em;
	background:#f9edc7;
	border-top:2px solid #b7a46e;
	border-bottom:2px solid #b7a46e	;
}

#profile_tabs{
	position:relative;
	width:100%;
	//height:3em;
	border-top:1px solid #b7a46e;
	border-bottom:2px solid #b7a46e	;
	padding-bottom:3.5em;
}

#app_content{
	position:relative;
	width:100%;
	height:;
	background:url(../img/paper_cont_bkgd.png);
	border-top:1px solid #b7a46e;
	border-bottom:2px solid #b7a46e	;
	padding: 1em 0 3.5em 0;
}

.map_cont{
	padding:1em 0em 0em 0em;
}

#create{
	position:relative;
	left:3em;
}

.tabs{
	position:absolute;
	bottom:0;
	left:1.5%;
	width:100%;
	margin:auto;
}

.tabs ul {
	margin:auto;
	width:100%;
}

.tabs ul li{
	background:#f9edc7;
	background-size:cover;
	background-repeat:no-repeat;
	display:inline-block;
	height:39px;
	width:31%;
	margin:0;
	padding:0;
	color:#b7a46e;
	font-size:60%;
	font-weight:;
	border-top-left-radius:.5em;
	border-top-right-radius:.5em;
	border-top:1px solid #b7a46e;
	border-right:1px solid #b7a46e;
	border-left:1px solid #b7a46e;
	min-width:67px;
}

.tabs ul li:hover{
	background:url(../img/tab.png);
	background-size:cover;
	background-repeat:no-repeat;
	display:inline-block;
	height:39px;
	width:31%;
	margin:0;
	padding:0;
	color:#ffffff;
	font-size:60%;
	font-weight:normal;
	border-top-left-radius:.5em;
	border-top-right-radius:.5em;
	border:1px solid #ffffff;
	min-width:67px;
}


.tab span{
	position:relative;
	top:.6em;
	left:.8em;
}

.api_cont{
	//background:url(../img/paper_cont_bkgd.png);
	width:100%;
	border-bottom:2px solid #b7a46e;
}

.api_cont .inlineblock_item{
	display:inline-block;
	vertical-align:top;
}

.event_obj{
	width:100%;
	min-height:10em;
	border-bottom:1px dashed #cccccc;
	padding:0;
}

#obj_a{
	background:#eeeeee;
	width:30%;
	min-height:10em;
	margin:0;
	
}

#obj_b{
	width:33%;
	background:#F2860F;
	min-height:10em;
	margin:0;
	padding:0;
}

#obj_c{
	width:30%;
	min-height:10em;
	margin:0;
	padding:0;
}


#api_content{
	position:relative;
	left:0px;
	background:url(../img/paper_cont_bkgd.png);
	width:100%;
}

#api_nav{
	display:none;
}

.profile_pic{
	width:16%;
	border:1px solid #ffffff;
	margin:1em 1em 1em 1em;
	overflow:hidden;
}


#profile_form{
	min-height:14.1875em;
	width:80%;
	//border-left:2px solid #ffffff;
	position:relative;
	right:.3em;
	height:100%;
}

#create_form{
	min-height:14.1875em;
	width:82.5%;
	border-left:2px solid #ffffff;
	position:relative;
	right:.3em;
}

#group_upload{
	position:relative;
	bottom:.3em;
	float:right;
	right:35%;
	padding:.2em
}

#group_image{
width: 100%;
}

.output_text{
	width:15em;
}

#api_nav ul li{
	padding:.7em 0 .7em 1em;
	list-style:none;
	color:#000000;
	font-size:.8em;
	//font-weight:bold;
	border-bottom:1px solid white;
}

#api_nav ul li:hover{
	background:#FB8964;
	padding:.7em 0 .7em 1em;
	list-style:none;
	color:#ffffff;
	font-size:.8em;
	font-weight:bold;
	border-bottom:1px solid white;
}
	


#section_1{
	width:100%;
	margin:0% 5% 0% 0%;
}
	
#section_2{
	width:90%;
	position:relative;	
}

.section img{
	height:100%;	
}
	
.section{
	display:block;
	height:10em;
	vertical-align:top;	
}
		
#comments{
	border-radius:.3em;
	border-style:inset;
	border-width:.1em;
	border-color:#f1f1f1;
	font-size:1.3em;
	margin:1em 0em;
	width:50%;
	min-width:12em;
}

	.handstack{
		width:65%;
	}
	

	
    #sign_up{
    	background:url("../img/signup.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    }
    #about_title{
    	background:url("../img/about.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    	margin-left:0em;
    }

    #team_title{
    	background:url("../img/team.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    	margin-left:2em;
    }   

    .title {
    	height:2em;
    	width:100%;
    	margin:.5em 0em 2em 0em;  
    }

	
	

.footer-container {
    background:url("../img/fbg_min_1.png");
    background-size:cover;
    overflow:hidden;
    background-repeat:no-repeat;
}


.main aside {
    background: transparent;
}

.title {
    color: white;
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}


nav a {
    display: block;
    margin-bottom: 5%;
    padding: .8em 0em .2em 0em;
    /*width:11%;*/
   background:url(../img/images/orgNavTab.png);	
   background-size:cover;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-repeat:no-repeat;
}

nav a:hover,
nav a:visited {
    color: white;
}

	.nav_horizontal {
		list-style-type:none;
		position:relative;
		top:0;
		right:0;
		width:100%;
	}

	.nav_horizontal  li {
		text-decoration:none;
		color:#ffffff;
		font-weight:bold;
		background:#F58252;
		padding:.7em;
		margin-bottom:.2em;
		border-radius:.3em;
	}
	
	.nav_horizontal a{
		text-decoration:none;
		color:#ffffff;

	}
    

.h_e-1{
	width:100%;
}

.h_e-2{
	width:100%;
	padding:0em 1em;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0em 0em;
    height:100%;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #000000;
    font-size:1.5em;
    padding: 0px 5% 10px;
}

.slider-wrap{
	height:0em;
	
}

.slider-nav img{
	position:relative;
	height:0;
	width:0;
	}
	
.slider-frame img {
    height:0em;
    width:0em;
}	


#header_login{
	width:100%;
	position:relative;
	right:;
}

#header_signup{
	width:100%;
	position:relative;
	right:;	
}	
	
.paginate-wrap > ul{
	height:2em;
	width:;
	//border:1px solid blue;
	list-style-type:none;
	float:right;
	margin:0;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/****small_2 format*********************************************************************/
@media only screen and (min-width: 320px) {

img {
    vertical-align: middle;
}


form textarea{
	font-size:1.5em;
}


form textarea{
	margin-top:0em 1em;
	font-size:.7em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul{
	list-style-type:square;
	line-height:1.3em;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a{
	text-decoration:none;
}

#splash_buttons{
	position:relative;
	right:100%;
	margin:1em auto 0 auto;
	width:190%;
	//max-width:386px;
}



#header_logo{
	width:50%;
	margin:;
	max-width:200px;
}

.header_search {
position: relative;
left: 0%;
top: 0%;
width:45%;
min-width:135px;
}



.header_container {
    background:url(../img/hbg_min_1.png);
    background-size:cover;
    background-repeat:no-repeat;
    height: 4.3em;
    border-radius: .6em;
    margin:.5em .5em 7.5em .5em;
    width:90%;
    padding:.5em .5em 4em .5em;
}


.header_element{
	display:inline-block;
	height:100%;
	vertical-align:top;
}



.logo{
	width:100%;
	margin:0em 0em 0em 0em;
}

/*header styles*/

/*.header_search {
	position:relative;
	left:0%;
	top:0%;
	width:60%;
}*/


.header_search input{
	margin:0em .0em .8em 0em;
	width:80%;
	max-width:390px;
}

/*header styles*/

.h_e-1_lrg{
	width:;
	float:left;
}

.h_e-2_lrg{
	float:right;
	padding:0% 1%;
}
 
#signup{	
}

/*header styles*/

#signup:hover{
}

#login{
}

#login:hover{
}

/*=========================================================
 * end header style
 *=========================================================
 */	


.wrapper {
    width: 90%;
    margin: 0 5%;
}


#section_1{
	width:100%;
	margin:0% 5% 0% 0%;
}
	
#section_2{
	width:90%;
	position:relative;	
}

.section img{
	height:100%;	
}
	
.section{
	display:block;
	height:10em;
	vertical-align:top;	
}
		
#comments{
	border-radius:.3em;
	border-style:inset;
	border-width:.1em;
	border-color:#f1f1f1;
	font-size:1.3em;
	margin:1em 0em;
	width:50%;
	min-width:12em;
}
	

/* ===================
    ALL: Green Theme HEADER AND FOOTER
   =================== */


	
	/*.slider{
		background:url("../img/functional_layout.png");
		background-color:transparent;
		background-repeat:no-repeat;
		background-size:13em;
		background-position:50% 0%;
		height:;
	}*/
	
	.article{
		background:url("../img/article_background.png");
		background-repeat:no-repeat;
		background-size:cover;
		width:70%;
		height:28em;
		padding:3em 2em 6em 2em;
		margin:auto;
		margin-top:2em;
		margin-bottom:2em;		
	}
	
	.team_article{
		background:url("../img/article_background.png");
		background-repeat:no-repeat;
		background-size:cover;
		width:70%;
		height:;
		padding:3em 2em 6em 2em;
		margin:auto;
		margin-top:2em;
		margin-bottom:2em;		
	}

	.tp_cont{
		display:inline-block;
		margin:2% 15% 3% 3%;		
	}
	
	.tp{
		margin:2% 3% 5% 3%;
		display:;
		width:6em;
		height:6em;
		//border:1px solid #F2F2F2;
		border-radius:50%;	
		overflow:hidden;
	}

	.tp img{
		width:100%;
		//height:8em;
		//border-radius:50%;
	}
		

	.handstack{
		width:65%;
	}
	
#okoa{
	background:url("img/okoa.png");
}

#james{
	background:url("img/james.png");
}

#victor{
	background:url("img/victor.png");
}

#marissa{
	background:url("img/marissa.png");
}

#girish{
	background:url("img/girish.png");
}

#jessica{
	background:url("img/jessica.png");
}

	
    #sign_up{
    	background:url("../img/signup.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    }
    #about_title{
    	background:url("../img/about.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    	margin-left:0em;
    }

    #team_title{
    	background:url("../img/team.png");
    	background-repeat:no-repeat;
    	background-size:contain;
    	margin-left:2em;
    }   

    .title {
    	height:2em;
    	width:100%;
    	margin:.5em 0em 2em 0em;  
    }

	
	

.footer-container {
    background:url("../img/fbg_min_1.png");
    background-size:cover;
    overflow:hidden;
    background-repeat:no-repeat;
}


.main aside {
    background: transparent;
}

.title {
    color: white;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}


nav a {
    display: block;
    margin-bottom: 5%;
    padding: .8em 0em .2em 0em;
    /*width:11%;*/
   background:url(../img/images/orgNavTab.png);	
   background-size:cover;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-repeat:no-repeat;
}

nav a:hover,
nav a:visited {
    color: white;
}

	.nav_horizontal {
		list-style-type:none;
		position:relative;
		top:0;
		right:0;
		width:100%;
	}

	.nav_horizontal  li {
		text-decoration:none;
		color:#ffffff;
		font-weight:bold;
		background:#F58252;
		padding:.7em;
		margin-bottom:.2em;
		border-radius:.3em;
	}
	
	.nav_horizontal a{
		text-decoration:none;
		color:#ffffff;

	}
    

.h_e-1{
	width:100%;
}

.h_e-2{
	width:100%;
	padding:0em 1em;
}


/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 0em 0em;
    height:100%;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #000000;
    font-size:1.5em;
    padding: 0px 5% 10px;
}

.slider-wrap{
	height:0em;
	
}

.slider-nav img{
	position:relative;
	height:0;
	width:0;
	}
	
.slider-frame img {
    height:0em;
    width:0em;
}	


	
	
.paginate-wrap > ul{
	height:2em;
	width:;
	//border:1px solid blue;
	list-style-type:none;
	float:right;
	margin:0;
}


/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}
}

/***************************************************************************************/
@media only screen and (min-width: 477px){
/***************************************************************************************/
#splash_buttons {
position: relative;
right:195px;
margin: 1em auto 0 auto;
width: 190%;
}

#api_nav{
	display:inline-block;
	width:16%;
	height:;
}

#api_content{
	position:relative;
	left:0px;
	background:url(../img/paper_cont_bkgd.png);
	width:83%;
}

#content_api_cont_1{
	display:none;
}

}
/***************************************************************************************/


/****wide format begins*****************************************************************/
@media only screen and (min-width: 1075px) {

/* ===============
    Maximal Width
   =============== */
	
/* ==============================================================
    header styles
   ==============================================================*/	
body{
	
}

@viewport{
	min-height:685px;
}

/*=========================================================
 *  header style
 *=========================================================
 */	
.header_container {
    background:url(../img/hbg_b.png);
    background-size:100% 100%;
    background-repeat:repeat-x;
    height:;
    width:100%;
    //border-bottom:#F58252 2px solid;  
}

.large_format{
	display:inherit;
}

.mobile_format img{
	display:none;
}

.inline_item{		
	display:inline;
	vertical-align:top;
}

.inlineblock_item{		
	display:inline-block;
	vertical-align:top;
}

#header_logo{
	max-width:30%;
}

.logo{
	width:100%;
	margin:.5em 0em 0em 1em;
	min-width:300px;
}

/*header styles*/

.header_search {
	position:relative;
	left:0%;
	top:30%;
}


.header_search input{
	margin:0em .7em .7em 0em;
	width:25%;
}

.header_search .button{
	display:inline-block;
}

.header_search select{
	margin:0em .7em .7em 0em;
	width:30%;
	position:relative;
	left:0;
	bottom:0;
	color:#cccccc;
	font-size:1.3em;
	padding:.3em;
	border-radius:.3em;
	float:none;
}

.search img{
	width:70%;
	padding:.5em 0em .6em 0em;
}


.header_search .button:hover{
	margin:0em .7em 0em 0em;
}

/*header styles*/

.header_search .search{
	width:5%;
	background:#F2AA79;
}


.h_e-1_lrg{
	width:;
	float:left;
}

.h_e-2_lrg{
	float:right;
	padding:0% 1%;
}



#header_login{
	width:6%;
	position:relative;
	right:0%;
}

#header_signup{
	width:6%;
	position:relative;
	right:0%;	
}

#header_search_button{
background:url(../img/button_grain.png);
border:1px solid #a18e51;
box-shadow:0 0 20px 1px #b19d5f  inset;
width:4%;
margin:0 0 .5em 0;
}

#header_signup, #header_login{	
background:url(../img/button_grain.png);
border:1px solid #a18e51;
box-shadow:0 0 20px 1px #b19d5f  inset;
margin:0 0 1em .5em;
}
 

/*=========================================================
 * end header style
 *=========================================================
 */	

form input, form select{
	margin:auto;
	//margin:.5em 0em;
	font-size:1em;
	padding:.3em;
	width:20%;
	height:;
	border-radius:.3em;
}

.inline_item{		
	display:inline;
	vertical-align:top;
}

		
	.slogan{
		background:url("../img/slogan_highlight.png");
		background-repeat:no-repeat;
		color:#ffffff;
		font-size:1.5em;
		font-weight:bold;
	}

	.slider{
		background:url("../img/functional_layout.png");
		background-color:transparent;
		background-repeat:repeat-x;
		background-size:130%;
		background-position:50% 0;
		max-width:60.5em;
		width:100%;
		padding-top:0em;
		height:40em;
		margin:auto;
	}

.tabs {
position: absolute;
bottom: 0;
left: 17%;
width: 40%;
margin: auto;
}

.tabs ul li{
	background:#f9edc7;
	background-size:cover;
	background-repeat:no-repeat;
	display:inline-block;
	height:39px;
	width:31%;
	margin:0;
	padding:0;
	color:#b7a46e;
	font-size:60%;
	font-weight:;
	border-top-left-radius:.5em;
	border-top-right-radius:.5em;
	border-top:1px solid #b7a46e;
	border-right:1px solid #b7a46e;
	border-left:1px solid #b7a46e;
	min-width:67px;
}

.tabs ul li:hover{
	background:#F96D3D;
	background-size:cover;
	background-repeat:no-repeat;
	display:inline-block;
	height:39px;
	width:31%;
	margin:0;
	padding:0;
	color:#ffffff;
	font-size:60%;
	font-weight:bold;
	border-top-left-radius:.5em;
	border-top-right-radius:.5em;
	border:2px solid #ffffff;
	min-width:67px;
}


.splash_search {
	position:relative;
	left:16%;
	top:35%;
}


.splash_search input{
	margin:0em .7em 0em 0em;
}

	.icon_large{
		margin:2% 3% 0% 3%;
		display:inline-block;
		height:100%;
		width:20%;
		border-radius:5%;		
	}
	
	.icon_text{
		height:20%;
		display:inline-block;
		vertical-align:top;
	}
	
	.icon_text h3{
		margin-bottom:.5em;
	}	
		
	.icon_large img{
		width:100%;
		height:;
		display:;	
		vertical-align:top;
		margin-bottom:1em;
	}
	

	.slider > div:first-child{
		margin:0% 3% 0% 14%;		
	}	
	
    .title {
    	height:2em;
    	width:100%;
    	margin:.5em 0em .5em 2em;  
    }

#api_content{
	position:relative;
	left:0px;
	background:url(../img/paper_cont_bkgd.png);
	width:82.7%;
}

#api_nav{
	display:inline-block;
	width:17%;
	height:;
}

#api_content{
	position:relative;
	left:0px;
	background:url(../img/paper_cont_bkgd.png);
	width:82.6%;
}

	form input{
		margin-bottom:0em;
	}
	
	#form_1{
		width:60%;
		margin-left:11.3em;
	}
	
	#comments{
		border-radius:.3em;
		border-style:inset;
		border-width:.1em;
		border-color:#f1f1f1;
		font-size:1.3em;
		margin:1em 0em;
		width:50%;
		min-width:20em;
	}
	
		#input_title{
		position:relative;
		left:11.5em;
	}
	
	#ei_1{
		position:relative;
		left:0em;
		border-radius:.2em;
	}
	
	#eb_1{
		position:relative;
		left:1em;
	}
	
	#thankyou{
		margin:0% 25% 0% 23%;
		width:744px;		
	}
	
	#girish{
		height:100%;
	}
	
	#marissa{
		height:100%;
	}

	::-webkit-input-placeholder{ color:#cccccc;}	
	:-moz-placeholder{ color:#cccccc;}	
	::-moz-placeholder{ color:#cccccc;}	
	:-ms-input-placeholder{ color:#cccccc;}		

	
.header_container .button{
	background-size:contain;
	font-size:1em;
	padding:.4em 1em;
	font-weight:normal;
	color:#ffffff;
	border:1px solid transparent;
	border-radius:.3em;
	vertical-align:top;
	font-size: 1em;
}	
	
#splash_buttons{
	position:relative;
	right:0;
	margin:1em auto 0 auto;
	width:190%;
	//max-width:386px;
}

#location{
}

.member #signup{
		
}

.member #signup:hover{
}

.member #login{
}

.member #login:hover{
}
	
	.button_image{
		width:50%;
	}
	

	#tn_1{
		position:relative;
		left:2em;
		font-weight:bold;
	}
	
	#tn_2{
		position:relative;
		left:2em;
		font-weight:bold;
	}
	
	.tp_cont{
		display:inline-block;
		margin:2% 15% 3% 3%;		
	}
	
	.tp{
		width:6em;
		height:6em;
		border:2px solid #F2F2F2;
		border-radius:50%;	
		overflow:hidden;
	}
	
	.tp_cont span{
		font-weight:bold;
	}

	.tp img{
		width:100%;
		//height:8em;
		//border-radius:50%;
	}

	.tp_cont:last-child{
		margin:2% 15% 3% 0%;
	}
	
	#otk{
		margin:0em 0em 0em 1.5em;
	}
	
	.tp_n{
		margin:0em 4.4em;	
	}
	
	
	.article_container{
		width:80%;
		margin:auto;
	}
	
	.article_wrap{
		height:75%;
		width:100%;
	}

	.article ul > li:first-child{
		margin: 0em 3.2em 0em 0em;
	}
	
	.nav_vertical{
		width:17%;
		//border:1px solid black;
		margin:0em 0em 10em 19em;
		color:#ffffff;
		font-weight:bold;
	}
	
	#nv_1{
		position:relative;
		top:2em;		
	}	
	
	.nav_vertical ul{
		margin-left:2em;
	}
	
	.nav_vertical ul li{
		display:block;
		color:;
		font-size:;
		margin:1em 1em;
	}
	
	.buttom_image{
		height:100%;
	}
	
	.footer-container {
    background:url("../img/hbg_b.png");
    background-size:cover;
    overflow:hidden;
    background-repeat:no-repeat;
    width:100%;
}

	.bottom_div{
	margin-bottom:2em;
	}
}
/****wide format ends*******************************************************************/

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}


/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        font-weight:100;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

/****wide format begins*****************************************************************/
@media only screen and (min-width: 1075px) {

/* ===============
    Maximal Width
   =============== */
	
/* ==============================================================
    header styles
   ==============================================================*/	
body{
	
}

.main-container {
margin:0;
width: 100%;
}

@viewport{
	min-height:1036px;
}

.members{
	width:90%;
	max-width:60.5em;
	margin:auto;
	height:2em;
	margin-top:.7em;
}
	
.members button{
	position:relative;
	right:13%;
	float:right;
	width:10%;	
}


/*=========================================================
 *  header style
 *=========================================================
 */	
.header_container {
    background:url(../img/hbg_b.png);
    background-size:contain;
    background-repeat:repeat-x;
    height:5em;
    margin:.5em 0 0 0;
    border-radius: 0;
    width:100%;
    //border-bottom:#F58252 2px solid;  
}


.header_element{
	display:inline;
	height:100%;
	vertical-align:top;
	width:70%;
}

#header_logo{
	width:30%;

}

.logo{
	width:100%;
	margin:.5em 0em 0em 1em;
	min-width:300px;
}

/*header styles*/

.header_search {
	position:relative;
	left:0%;
	top:0%;
}


.header_search input{
	margin:0em .7em .7em 0em;
	width:25%;
}



.inline_item ul li{
	margin:0em .7em .7em 0em;
	width:25%;
	height:5em;
	border:1px solid #cccccc;
}

.header_search .button{

}

.header_search .button:hover{
	margin:0em .7em 0em 0em;

}

.search{
	border:1px solid #CCC09F;	
	width:4%;
	border-radius:.3em;
}

.search img{
	width:70%;
	padding:.2em 0em .6em 0em;
}

.header_search .search:hover{
background:#fb8964;
box-shadow:0 0 0px 0px #bbbbbb;	
}

	

/*header styles*/

.header_search .search{
	width:3.5%;
	background:transparent;
	border:1px solid #bbbbbb;
	box-shadow:0 0 8px 1px #bbbbbb inset;
}


.h_e-1_lrg{
	width:;
	float:left;
}

.h_e-2_lrg{
	float:right;
	padding:0% 1%;
}
 

/*=========================================================
 * end header style
 *=========================================================
 */	

/*=========================================================
 * main content styles
 *=========================================================
 */	
.string_level_1{
	//background:url(../img/header_tab.png);
	background-repeat:no-repeat;
	background-size:contain;
	//height:1em;
	font-size:1.1em;
	color:#89743E;
	padding:1em 0em;
	font-weight:bold;
	margin:3em;
	//margin-top:1em;
	//margin-bottom:.5em;		
}

.string_level_1 span{
	margin:0em 0em 0em 1em;
}



.string_level_2{
	font-size:.8em;
	color:#000000;
	font-weight:bold;
	margin:1.5em 0em;
	//padding:.4em 0em 0em 2em;
	//height:2.5em;
	padding:.7em;
	display:block;
	background:#efefef;
	opacity:.65;
	//width:100%;
}


.app_text{
	margin:0 0 0 1em;
	font-weight:100;
	width:50%;
}

.eventfield{
	position:relative;
	float:right;
	bottom:.3em;
	right:60%;
	//margin:auto;		
}


.task_name{
	margin-bottom:.5em;
}

.taskfield{
	position:relative;
	width:15em;
	margin-right:1em;
	
}

.delete{
	border-radius:50%;
	border:1px solid #7F6E36;
	height:2em;
	width:2em;
	background:#BCA779;
	color:#ffffff;
}

.delete:hover{
	border-radius:50%;
	border:1px solid #ffffff;
	height:2em;
	width:2em;
	background:#F27250;
	color:white;
}

#create_d1{
	position:relative;
	top:1.8em;
	cursor:pointer;
}

.delete_x{
	margin:.25em 0 0 .6em;
}

.point_nav_min{
	height:2.3em;
	margin:0em 3em 0em 0em;
	position:relative;
	left:;
}

.cont_level_2{
	background:url("../img/bkgd_b.png");
	width:92%;
	padding:0em;
	border:1px solid #b7a46e;
	border-radius:.5em;
	margin:auto;
	margin-top:1em;
}



#back_text{
	position:relative;
	left:73%;
	
}

#back_text:hover{
	position:relative;
	left:73%;
	color:#F9972D;
}


#create_point_a{
	position:relative;
	left:75%;
}

/*=========================================================
 * end main content styles
 *=========================================================
 */

.header_search form{
	margin: 2em 0 0 0;
	width:70%;
	float:right;
}

		
	.slogan{
		background:url("../img/slogan_highlight.png");
		background-repeat:no-repeat;
		color:#ffffff;
		font-size:1.5em;
		font-weight:bold;
	}

	.slider{
		background:url("../img/functional_layout.png");
		background-color:transparent;
		background-repeat:repeat-x;
		background-size:130%;
		background-position:50% 0;
		max-width:60.5em;
		width:100%;
		padding-top:0em;
		height:40em;
		margin:auto;
	}

.splash_search {
	position:relative;
	left:0%;
	top:35%;
	width:100%;
}



.splash_search select{
	position:relative;
	left:16%;
	margin:auto;
	margin:0em .7em 0em 0em;
	font-size:1.3em;
	color:#cccccc;
	padding:.3em;
	width:30%;
	border-radius:.3em;
}

.splash_search button{
	position:relative;
	left:16%;
}

.splash_search input, button{
}
	.icon_large{
		margin:2% 3% 0% 3%;
		display:inline-block;
		height:100%;
		width:20%;
		border-radius:5%;		
	}
	
	.icon_text{
		height:20%;
		display:inline-block;
		vertical-align:top;
	}
	
	.icon_text h3{
		margin-bottom:.5em;
	}	
		
	.icon_large img{
		width:100%;
		height:;
		display:;	
		vertical-align:top;
		margin-bottom:1em;
	}
	

	.slider > div:first-child{
		margin:0% 3% 0% 14%;		
	}	
	
    .title {
    	height:2em;
    	width:100%;
    	margin:.5em 0em .5em 2em;  
    }
	
	form input{
		margin-bottom:0em;
	}
	
	#form_1{
		width:60%;
		margin-left:11.3em;
	}
	
	#comments{
		border-radius:.3em;
		border-style:inset;
		border-width:.1em;
		border-color:#f1f1f1;
		font-size:1.3em;
		margin:1em 0em;
		width:50%;
		min-width:20em;
	}
	
		#input_title{
		position:relative;
		left:11.5em;
	}
	
	#ei_1{
		position:relative;
		left:0em;
		border-radius:.2em;
	}
	
	#eb_1{
		position:relative;
		left:1em;
	}
	
	#thankyou{
		margin:0% 25% 0% 23%;
		width:744px;		
	}



#splash_buttons{
	position:relative;
	left:;
}

#location{

}
	
	.button_image{
		width:50%;
	}
	
	.green_background{
		width:100%;
		height:75%;
		//background:url("../img/images/sliderSection_07.png");
		background-size:cover;
		background-repeat:no-repeat;
	}
	
	.article{
		background:url("../img/article_background.png");
		background-repeat:no-repeat;
		background-size:cover;
		width:70%;
		height:;
		padding:3em 2em 6em 2em;
		margin:auto;
		margin-top:2em;
		margin-bottom:2em;		
	}
	
	#tn_1{
		position:relative;
		left:2em;
		font-weight:bold;
	}
	
	#tn_2{
		position:relative;
		left:2em;
		font-weight:bold;
	}
	
	.tp_cont{
		display:inline-block;
		margin:2% 15% 3% 3%;		
	}
	
	.tp{
		width:6em;
		height:6em;
		border:2px solid #F2F2F2;
		border-radius:50%;	
		overflow:hidden;
	}
	
	.tp_cont span{
		font-weight:bold;
	}

	.tp img{
		width:100%;
		//height:8em;
		//border-radius:50%;
	}

	.tp_cont:last-child{
		margin:2% 15% 3% 0%;
	}
	
	#otk{
		margin:0em 0em 0em 1.5em;
	}
	
	.tp_n{
		margin:0em 4.4em;	
	}
	
		
	.nav_vertical{
		width:17%;
		//border:1px solid black;
		margin:0em 0em 10em 19em;
		color:#ffffff;
		font-weight:bold;
	}
	
	#nv_1{
		position:relative;
		top:2em;		
	}	
	
	.nav_vertical ul{
		margin-left:2em;
	}
	
	.nav_vertical ul li{
		display:block;
		color:;
		font-size:;
		margin:1em 1em;
	}
	
	.buttom_image{
		height:100%;
	}
	
	.footer-container {
    background:url("../img/hbg_b.png");
    background-size:cover;
    overflow:hidden;
    background-repeat:no-repeat;
    width:100%;
}

	.bottom_div{
	margin-bottom:2em;
	}
}


}

