body {
    line-height: 1.4;
    overflow-x:hidden;
    background:url("../img/bkgd_b.jpg");
    font-family:'Lato', sans-serif;
}

.site_container{
		background-size:100% 59%;
		background-position:0em 0em;
		background-repeat:repeat-x;
		width:95%;
		max-width:85em;
		min-width:290px;
		margin:auto;
		overflow:hidden;
	}

.input_form{
	background:#ffffff;
	border-radius:1em;
	box-shadow:0 0 10px 1px #DBACA2;
	width:90%;
	font-size:.8em;
	margin-top:2em;
	margin:auto;
	padding: 3% 3% 1.5% 3% ;
}	

.input_form .inline_item{		
	display:inline;
	vertical-align:top;
}

.input_form .inlineblock_item{		
	display:inline-block;
	vertical-align:top;
}

.input_form form{
	background:#F4F4F4;
	border-radius:1em;
	box-shadow:0 0 0px 1px #cccccc;
	margin-top:2em;
	margin:auto;
	padding:3%;
}

.input_form span{
	color:#F3704E;
}

.input_form input{
	color:#cccccc;
	width:90%;
	margin:0 0 13% 6%;
}

.input_form .str1{
	margin:1em 0 2.4em 0;
}

.input_form #str2{
	margin:1em 0 0 0;
}

.input_form #str3{
	margin:0 1em 0 0em;
	float:right;
	font-size:.8em;
}

.input_form .text_field{
	//float:right;
}

.input_form .checkbox{
	vertical-align:bottom;
	width:1em;
	height:1em;
	margin:0 .3em 0 .4em;
}

.input_form #col_a{
position:relative;
left:0;
width:30%;
}

.input_form #col_b{
position:relative;
left:0;
width:65%;
padding:1em 0 0 0;
}

.input_form .button{
	padding:.3em .5em .3em .5em;
	background:#F3704E;
	width:5em;
	margin:1.5em 0 0 0em;
	float:right;
}

.input_form .button .text{
	margin:0 0 0 .5em;
	color:#ffffff;
}

.input_form #back_text{
	position:relative;
	left:0;
}

.input_form #create_point_a{
	position:relative;
	left:0;
}

.input_form .back{
	margin:1.5em 0 0 0;
	width:40%;
	min-width:130px;
}

.input_form .point_nav_min{
	margin:0 0 0 0;
	width:40%;
}

@media only screen and (min-width: 320px){

.input_form{
	background:#ffffff;
	border-radius:1em;
	box-shadow:0 0 10px 1px #DBACA2;
	width:90%;
	font-size:.8em;
	margin-top:2em;
	margin:auto;
	padding: 3% 3% 1.5% 3% ;
}	
	
}

@media only screen and (min-width: 477px){
.input_form .back{
	margin:1.5em 0 0 0;
	width:40%;
	min-width:130px;
}	
}

@media only screen and (min-width: 1075px){
	
.site_container{
		background-size:100% 59%;
		background-position:0em 0em;
		background-repeat:repeat-x;
		width:100%;
		max-width:85em;
		min-width:290px;
		margin:auto;
		overflow:hidden;
	}
	
.input_form{
	background:#ffffff;
	border-radius:1em;
	box-shadow:0 0 10px 1px #DBACA2;
	width:40%;
	font-size:1em;
	margin-top:2em;
	margin:auto;
	padding: 3% 3% 1.5% 3% ;
}

.input_form input{
	color:#cccccc;
	width:100%;
	margin:3%;
}	

.input_form #col_a{
position:relative;
left:0%;
width:20%;
}

.input_form #col_b{
width:70%;
position:relative;
left:3%;
}

.input_form form{
	background:#F4F4F4;
	border-radius:1em;
	box-shadow:0 0 0px 1px #cccccc;
	margin-top:2em;
	margin:auto;
	padding:3%;
}

.input_form .point_nav_min{
	margin:0 0 0 0;
	width:35%;
}

.input_form .back{
	margin:1.5em 0 0 0;
	width:28.5%;
	min-width:152px;
}
	
}