{%include 'includes/head.html'%}
<div id= "app_content" class= "cont_1">
	<div class= "map_cont">
		<span class= "string_level_1 inline_item" id= "function_name"></span>
		<div class= "cont_level_2">
			<div id= "api_nav" class= "inlineblock_item">
				<ul>
					<a href= "Create_Event.html"><li class= "function_link" id= "Create Event">create event</li></a>
					<a href= "Edit_Event.html"><li class= "function_link" id= "Edit Event">edit event</li></a>
					<a href= "Create_Group.html"><li class= "function_link" id= "Create Task">create group</li></a>
					<a href= "Edit_Group.html"><li class= "function_link" id= "Edit Task">edit group</li></a>
				</ul>
			</div>
			<div  id= "create_form" class= "inlineblock_item">
				<!--form action= "../success.html" method= "post" id= "success_form">
				{% csrf_token } {%csrf_protect%}-->
<!-----------------------insert form content here----------------------------------------------->
	
					
				


