/**/ snapshot**********************
 * 
 * 
 */
<?html

/*to limit the number of files that need to be modified I have included all the code in two files
 * we navigate between pages by passing a Get variable to the url.  I'd like to get all the code into 
 * one file perhaps in a later version.
 * */

 /*Media query location Main.css:
  * 1. small_2 line: 480
  * 2. intermediate format line:349
  * 3. wide format line:393
  * /
 
include "includes/head.html";

/*********************home page output***********************************/
?>


            <div class="main wrapper clearfix">
				<div>
                <div class= "slider_cont"><!------media queries for different screen sizes------------------>
<div class= "slider" >
	<div class= "slider-wrap">
	<div class= "slider-nav" style= "position:relative;left:.3em;" ><img src= "img/slider-nav-r.png" class= "" onclick="prev(); return false;"></div>
	<div class= "slider-frame ">
		<div class= "inner-frame">		
		<div class= "imgDisplay_L" id= "FC_imgGallery">
			<img id="1" src= "img/12.JPG">
			<img id="2" src= "img/13.JPG">
			<img id="3" src= "img/14.JPG">
			<img id="4" src= "img/15.JPG">			
		</div>
		</div>				
	</div>
	<div class= "slider-nav" style= "position:relative;left:-.3em;" ><img src= "img/slider-nav-l.png" onclick="next(); return false;"></div>
	<div class= "paginate-wrap">
		<ul>
			<li id= "t1" class="pagination"></li>
			<li id= "t2" class="pagination"></li>
			<li id= "t3" class="pagination"></li>
			<li id= "t4" class="pagination"></li>
		</ul>
	</div>	
	</div>
	<!--div class= "FC_imgControl_cont">
	<div class="FC_imgControl " id= "FC_prev"><a  href= "#" onclick="prev(); return false;"><img id= "ssImg_1" class= "ssImg" src= "images/video/controls/prev_off.png" ></a></div>
	<div class="FC_imgControl " id= "FC_pause"><a  href= "#" onclick="pause(); return false;"><img id= "ssImg_2" class= "ssImg" src= "images/video/controls/pause_off.png"></a></div>
	<div class="FC_imgControl " id= "FC_next"><a href= "#" onclick="next(); return false;"><img id= "ssImg_3" class= "ssImg" src= "images/video/controls/next_off.png"></a></div>
	</div-->	
	<script>
		sliderInt = 1;
		sliderNext = 2;
		t_Int = 1;
		t_Next = 2;
		
		$(document).ready(function(){
			$("#FC_imgGallery>img#1").fadeIn(1500);
			//$("#t1").removeClass("pagination");
			$("#t1").addClass("pagination-dark");
			startLoop();
		});
		
		function startLoop(){
			count = $("#FC_imgGallery>img").size();
			
			t_count = 4
			
			loop = setInterval(function(){
				
				if(sliderNext > count){
					sliderNext = 1;
					sliderInt = 1;
				}
				
				if(t_Next > t_count){
					t_Next = 1;
					t_Int =1;
				}
								
				$("#FC_imgGallery>img").hide();
				$("#FC_imgGallery>img#" + sliderNext).fadeIn(2000);
				$(".pagination").removeClass("pagination-dark");
				$("#t" + t_Next).addClass("pagination-dark");
				sliderInt = sliderNext;
				sliderNext = sliderNext + 1;
				t_Int = t_Next;
				t_Next = t_Next + 1;
			},5000)
		}
		
		function prev(){
			newSlide = sliderInt - 1;
			newSlide= t_Int - 1;
			showSlide(newSlide);
		}

		function pause(){
		stopLoop();
		}


		function next(){
			newSlide = sliderInt + 1;
			newSlide = t_Int + 1;
			showSlide(newSlide);
		}	
		
		function stopLoop(){
			window.clearInterval(loop);
		}
		
		function showSlide(id){
			stopLoop();
				if(id > count){
					id = 1;
				}else if(id < 1){
					id = count;
				}
								
				$("#FC_imgGallery>img").hide();
				$("#FC_imgGallery>img#" + id).fadeIn(2000);
				$(".pagination").removeClass("pagination-dark");
				$("#t" + id).addClass("pagination-dark");
				sliderInt = id;
				sliderNext = id + 1;
				t_Int = id;
				t_Next = id + 1;
			startLoop();		
		}	
		</script>	
	</div>
                </div>					
				</div>
				<div class= "article_wrap">
                <article>
                    <header>
                        <h1>Welcome to HandStack!</h1>
                        <h2>HandStack allows you to connect with cool people doing cool stuff in your area and beyond.</h2>
                    </header> 
                </article>
                <aside>
                	<ul>
                		<li>share tasks</li>
                		<li>organize on the go</li>
                		<li>connect your team</li>
                		<li>collaborate with others</li>
                		<li>publicise your event</li>
                	</ul>
                </aside>					
				</div>
            </div> <!-- #main -->
<?html
include 'includes/foot.html'
?>

/**********************/















/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

em{
	color:#5FBE74;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

form input{
	margin-top:1em;
	font-size:.7em;
	height:2em;
}


form textarea{
	margin-top:1em;
	font-size:.7em;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

ul{
	list-style-type:square;
	line-height:1.3em;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Green Theme
   =================== */

.header-container {
    border-bottom: 20px solid #3D7A49;
}

.footer-container {
    border-bottom: 20px solid #3D7A49;
}

.header-container,
.footer-container {
    background: #5FBE74;
}


.main aside {
    background: transparent;
}

.title {
    color: white;
}

.logo{
    height:3em;
    float:left;
    margin:;
    display:inline-block;
}


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}


nav a {
    display: block;
    margin-bottom: 5%;
    padding: 15px 0;
    /*width:11%;*/
    
	
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background:;

}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

.logo_wrap{
	margin:0 17%;
}

.logo{
	margin:0% 0% 10% 30%;
	}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #000000;
    font-size:1.5em;
    padding: 0px 5% 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

/****small_2 format*********************************************************************/
@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */


    nav a {
        display:inline-block;
        width: 9%;
        margin: 0 1%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }


.slider-frame {
    background-image: url("../img/frame.png");
    background-repeat: no-repeat;
    background-size:cover;
    border: 1px solid #C9C7C7;
    border-radius: 4px;
    height:19.7em;
    width:85%;
    position: relative;
    overflow:hidden;
    display:inline-block;
}


.slider{
	width:100%;
	//border:1px solid blue;
	margin:auto;
}

.slider-nav{
	width:5%;
	height:20em;
	//border:1px solid blue;
	vertical-align:top;
	display:inline-block;
	cursor:pointer;
}

.slider-nav img{
	position:relative;
	top:30%;
	width:100%;
	}

.slider-wrap{
	width:80%;
	display:;
	margin:auto;
}

.inner-frame{
	position:relative;
	top:1.1em;
	overflow:hidden;
	width:95.1%;
	height:89.9%;
	margin:auto;	
}

#FC_imgGallery img{
	width:100%;
}

.paginate-wrap{
	width:75%;
}

.paginate-wrap > ul{
	height:2em;
	width:;
	//border:1px solid blue;
	list-style-type:none;
	float:right;
	margin:0;
}

.pagination{
	background-image:url('../img/paginate.png');
	background-size:contain;
}

.pagination-dark{
	background-image:url('../img/paginate-dark.png');
	background-size:contain;
}

.paginate-wrap > ul > li{
	height:1em;
	width:1em;
	//border:1px blue solid;
	float:left;
	margin:0 .5em;
}

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}
/******small_format2 end***************************************************************/


/****intermediate format****************************************************************/
@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 70%;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
        margin:auto;
    }

    .main aside {
        float: right;
        width: 28%;
        margin:auto;
    }
}
/****intermediate format end************************************************************/

/****wide format begins*****************************************************************/
@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */
	
    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }

	.logo{
		margin:1em 1em;
	}
}
/****wide format ends*******************************************************************/

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
        font-weight:100;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}