
{% include 'includes/create_insert.html'%}	
 			<div class= "string_level_2 inline_item" id= "group_name"><span>Name:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item" id= "group_description"><span>Description:</span><input id= "eventName" class= "eventfield inline_item"></div>			
			<div class= "string_level_2 inline_item" id= "group_logo"><span>Logo:</span><input id= "eventName" class= "eventfield inline_item"><button id= "group_upload">upload image</button></div>
<!-----------------------end form content----------------------------------------------------------->
{%include 'includes/create_insert_b.html'%}
