{%include 'includes/scripts.html'%}	
{%include 'includes/create_insert.html'%}

 			<div class= "string_level_2 inline_item"><span>Title:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Assigned To:</span><input id= "description" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Priority:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Status:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Due Date:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Completion Date:</span><input id= "eventName" class= "eventfield inline_item"></div>			
			<div class= "string_level_2 inline_item"><span>Task Description:</span><input id= "eventName" class= "eventfield inline_item"></div>			
<!-----------------------end form content----------------------------------------------------------->
{%include 'includes/create_insert_b.html'%}
