<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
	<head>
		<meta name= "viewport" content= "width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>welcome to handstack</title>
		<meta name="author" content="remkin" />
		<!-- Date: 2014-02-25 -->
		<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>		
		<link href= "/css/home.css" rel= "stylesheet" type "text/css">
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  		<script src="/js/vendor/1.10.1.min.js"></script>
  		<script src="/js/main.js"></script>
  		<script>
  			
  		</script>
	</head>
	<body>
		<div  class= "members">
				<a href= "login.html" class= "home_button"><button class= "button inlineblock_item" id= "login">login</button></a>
				<a href= "signup.html" class= "home_button"><button class= "button inlineblock_item" id= "signup">sign up</button></a>
		</div>
		<div class= "home_container">
				<div  class= "splash_search">
				<form action= "content.html" method= "post" >
					{% csrf_token } {% csrf_protect %}
					<div class= "select_cont">
						<select>
						<option class= "default" selected= "selected">I'm looking for...</option>
						<option>category</option>
						<option>category</option>
						<option>category</option>
						</select>
					</div>
					<div class= "select_cont">
						<select>
							<option class= "default" selected= "selected">located here...</option>
							<option>category</option>
							<option>category</option>
							<option>category</option>							
						</select>
					</div>
					<button class= "inline_item button" id= "search_button"><img src= "img/search.png"></button>			
				</form>						
			</div>
		 </div>	    	
	</body>
</html>

