{% include 'includes/create_insert.html'%}	
{%include 'includes/scripts.html'%}	
			<form action= "../success.html" method= "post" id= "success_form">
					{% csrf_token } {%csrf_protect%}	
					<div class= "string_level_2 inline_item"><span>Title:</span><input id= "eventName" class= "eventfield inline_item"></div>
					<div class= "string_level_2 inline_item"><span>Description:</span><input id= "description" class= "eventfield inline_item"></div>
					<div class= "string_level_2 inline_item"><span>Location</span><input id= "description" class= "eventfield inline_item"></div>
					<!--div class= "string_level_2 inline_item"><span>Duration:</span><input id= "eventName" class= "eventfield inline_item"></div-->
					<div class= "string_level_2 inline_item"><span>Start Time:</span><input id= "eventName" class= "eventfield inline_item"></div>
					<div class= "string_level_2 inline_item"><span>Duration:</span><input id= "eventName" class= "eventfield inline_item"></div>
					<div class= "string_level_2 inline_item"><div class= "button inline_item submit" id= "create_task_button">create task</div></div>	
					<div id= "task_cont"></div>		
<!-----------------------end form content----------------------------------------------------------->
<script>
	$(document).ready(function(){
		var clickID = 0;
		$('#create_task_button').click(function(){			
			clickID += 1;
	
			$('#task_cont').append('<div class= "string_level_2" id= "task'+clickID+'"><div class= "inlineblock_item"><div class= "task_name">Title:</div><div><input id= "" class= "taskfield"></div></div><div class= "inlineblock_item"><div class= "task_name">Task Description</div><div><input id= "" class= "taskfield"></div></div><div class= "inlineblock_item"><div class= "task_name">Priority:</div><div><input id= "" class= "taskfield"></div></div><div class= "inlineblock_item"><div class= "task_name">Due Date:</div><div><input id= "" class= "taskfield"></div></div><div class= "inlineblock_item delete" id= "create_d1"><div class= "delete_x" id='+clickID+'>X</div></div></div>');
		$('.delete_x').click(function(){
			str = $(this).attr('id');
		
			$("#task"+str).remove();
			});
		});
	});
	
	$(document).ready(function(){
	});
</script>
{%include 'includes/create_insert_b.html'%}
