{%include 'includes/scripts.html'%}	
{% include 'includes/create_insert.html'%}	
	
			<div class= "string_level_2 inline_item"><span>Title:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Start Time:</span><input id= "description" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Duration:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Location:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Location Description:</span><input id= "eventName" class= "eventfield inline_item"></div>
			<div class= "string_level_2 inline_item"><span>Location Image:</span><input id= "eventName" class= "eventfield inline_item"></div>			
			<div class= "string_level_2 inline_item"><span>Event Description:</span><input id= "eventName" class= "eventfield inline_item"></div>			
<!-----------------------end form content----------------------------------------------------------->
{%include 'includes/create_insert_b.html'%}
