{%include 'includes/scripts.html'%}	
{% include 'includes/create_insert.html'%}	

 			<div class= "string_level_2 inline_item"><span>Task 1</span></div>
			<div class= "string_level_2 inline_item"><span>Task 2</span></div>			
			<div class= "string_level_2 inline_item"><span>Task 3</span></div>
			<div class= "string_level_2 inline_item"><span>Task 4</span></div>
			<div class= "string_level_2 inline_item"><span>Task 5</span></div>
<!-----------------------end form content----------------------------------------------------------->
{%include 'includes/create_insert_b.html'%}
