{%include 'includes/create_insert.html'%}
{% csrf_token } {%csrf_protect%}
<script>
	$(document).ready(function(){
		var string = window.location.search;
		var action = string.substring(string.indexOf('%20')+3, string.length);
		var str= action.charAt(0).toLowerCase()+ action.slice(1);
		
		var string2 = window.location.search;
		var action2 = string2.substring(1, string2.indexOf('%20'));
		var str2 = action2.charAt(0).toLowerCase()+ action2.slice(1);
 
		
		$('#submitted_function').html(str);
		
		if (str2.slice(str2.length-1,str2.length) == 'e'){
			$('#submitted_action').html(str2 + 'd');
		}
		else{
			$('#submitted_action').html(str2 + 'ed');
		}
		$('#create_submit').hide();	
		$('#function_name').hide();				
	});
</script>
<img src= "img/cloud.png" class= "success_cloud">
	<span id= "">
		your <span id= "submitted_function"> </span> has been successfully <span id= "submitted_action"> </span>	
	</span>
<img src= "img/cloud.png" class= "success_cloud"><br>
	<!--a href= "" class= "back" id= ""><span>back to home</span></a>
	<a href= "" class= "back"><img src= "img/point_l.png" class= "" id= ""></a-->
{%include 'includes/create_insert_b.html'%}
